@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
body::-webkit-scrollbar {
  width: 1rem;
  background-color: #fcede1;
}
body::-webkit-scrollbar-thumb {
  background-color: #f5bcc1;
  border-radius: 20px;
}
body {
  background: url("./6784588-cute-heart-pattern-wallpaper.jpg");
  height: 1000vh;
}
.party {
  transform: rotateY(180deg);
  position: absolute;
  right: 0;
  top: 30%;
}
.special {
  position: absolute;
  top: 80%;
  left: 0;
}
.name {
  color: red;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 4rem;
  text-shadow: 0px 0px 30px red;
  position: absolute;
  top: 20%;
}
.name-transform {
  transform: translate(0px) rotate(-30deg);
}
.card {
  width: 400px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.upperSection {
  width: 100%;
  background: url("./polka.png");
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  height: 7rem;
  position: absolute;
  top: 0px;
  transition: 0.1s ease-in-out;
  transform-origin: top;
  border-radius: 0 0 40px 40px;
}
.lowerSection {
  width: 100%;
  height: 100%;
  background: url("./polka.png");
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.5);
}
.message {
  width: 100%;
  height: 50%;
  background-color: #4cb1ad;
  background-attachment: cover;
  position: absolute;
  bottom: 10%;
  z-index: -1;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 10px 10px 0 0;
}

button {
  background-color: transparent;
  border: 3px solid white;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 30px;
  border-radius: 30px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
}
.emoji {
  position: fixed;
  top: -3vh;
  font-size: 3rem;
  transform: translateY(0);
  animation: fall 3s linear forwards;
  transition: 1s ease-in-out;
  z-index: -4;
}
.emoji:hover {
  transform: scale(1.5);
}
@keyframes fall {
  to {
    transform: translateY(120vh);
  }
}

.warning {
  background-color: black;
  color: red;
  text-shadow: 0px 0px 30px red;
  width: 100%;
  height: 1000vh;
  position: fixed;
  z-index: 1000;
  font-family: sans-serif;
  font-size: 3rem;
  text-align: center;
  display: none;
}
.warning > h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.guide {
  background-color: #f5bcc1;
  color: white;
  text-align: center;
  width: 15rem;
  padding: 20px 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 2rem;
  top: 10px;
  box-shadow: 0px 0px 10px 0px #cc7db4;
}
@media only screen and (max-width: 1439px) {
  .warning {
    display: block;
  }
}
